<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aisl 프로젝트</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Spring Project</h1>
        <p>
        <form action="/logout" method="post">
            <input type="submit" value="로그아웃"/>
        </form>
            <br>
            <a href="members/list">전체 회원 목록 조회</a>
            <br>
            <a href="members/me">내 정보 보기</a>
        </p>
    </div>
</div>
</body>
</html>